<nav class="nav-wrapper blue darken-4">
    <div class="container">
        <a href="{% url 'news-list' %}" class="brand-logo">Fav News</a>
        <a href="" class="sidenav-trigger" data-target="mobile-menu">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Contact</a></li>
        </ul>
        <form class="right" action="{% url 'news-search' %}" method="post">
            {% csrf_token %}
            <div class="input-field right">
                <input id="search" name="search" type="search" required>
                <label class="label-icon" for="search">
                    <i class="material-icons left">search</i>
                </label>
                <div class="collection" id="search-results"></div>
            </div>
        </form>
        <ul class="sidenav grey lighten-2" id="mobile-menu">
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>