<nav class="nav-wrapper blue darken-4">
    <div class="container">
        <a href="{% url 'news-list' %}" class="brand-logo">Fav News</a>
        <a href="" class="sidenav-trigger" data-target="mobile-menu">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Contact</a></li>
            <li><a href="#" class="tooltipped btn-floating btn-small transparent z-depth-0" data-tooltip="Instagram">
                <i class="fab fa-instagram"></i>
            </a></li>
            <li><a href="#" class="tooltipped btn-floating btn-small transparent z-depth-0" data-tooltip="Facebook">
                <i class="fab fa-facebook"></i>
            </a></li>
            <li><a href="#" class="tooltipped btn-floating btn-small transparent z-depth-0" data-tooltip="Twitter">
                <i class="fab fa-twitter"></i>
            </a></li>
        </ul>
        <ul class="sidenav grey lighten-2" id="mobile-menu">
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
